{% extends "layout.html" %}
{% set active_page = "resume" %}
{% block header %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-4 text-left">
    <h2>TECHNOLOGIES</h2>
    </div>
    <div class="col-xs-4 text-left">
      <h3>DAY-TO-DAY-COMFORT</h3>
      <ul>
        <li>C++</li>
        <li>Python</li>
        <li>HTML</li>
        <li>HTML</li>
      </ul>
    </div>
    <div class="col-xs-4 text-left">
      <h3>EXPERIENCE WITH</h3>
      <ul>
        <li>C++</li>
        <li>Python</li>
        <li>HTML</li>
        <li>HTML</li>
      </ul>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <h2>EXPERIENCE</h2>
</div>

<hr>
<div class="row">
  <h2>EDUCATION</h2>
</div>

<button>CONTACT ME</button>
{% endblock %}
