{% macro blogpost(title, date, content, uri) %}
{% set post_url = url_for('blog.post', year=date.year, month=date.month, name=uri, _external=true) %}
<div class="blog-post text-left">
  <h2 class="blog-post-title"><a href="{{ post_url }}">{{ title }}</a></h2>
  <div class="blog-post-date">{{ date }}</div>
  <div>
  <a class="twitter-share-button"
    data-count="none"
    href="https://twitter.com/intent/tweet?text={{ title }}&hashtags=DOCKER,DOCKER&via=Mark_S_Humphrey&url={{ post_url }}">
    Tweet
  </a>
</div>
  {{ content }}
</div>
{% endmacro %}
