{% from '_carousel.html' import carousel  %}
{% from '_navbar.html' import navbar  %}

{% set navigation_bar = [
  ('/', 'home', 'HOME'),
  ('/project/', 'project', 'PROJECT'),
  ('/blog/', 'blog', 'BLOG'),
  ('/about/', 'about', 'ABOUT'),
  ('/resume/', 'resume', 'RESUME'),
  ('/contact/', 'contact', 'CONTACT')] -%}
  {% set active_page = active_page|default('home') -%}

  <!DOCTYPE html>
  <html>
  <head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Full-Stack Developer/Leader - Mark Humphrey</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}{% endblock %}
  </head>

  {{ navbar(navigation_bar, active_page) }}

  <div class="container">
    <div class="starter-template">
      <div id="header"><h1>{% block header %}{% endblock %}</h1></div>
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="footer">{% block footer %}{% endblock %}</div>
    </div>
  </div><!-- /.container -->

  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script>
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));
  </script>
  {% block scripts %}{% endblock %}
</body>
</html>
